

body {
  background-color: rgb(49, 49, 49);
}

h1 {
  color: rgb(255, 0, 0);
  text-align: left;
  font: italic bold 30px Georgia, serif;
}
.wrapper{
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "header  header"
    "links content"
    "footer  footer";
  background-color: #fff;
  color: #444;
}
.header {
  grid-area: header;
}
.content {
  font-style: italic;
  grid-area: content;
  position: relative;
}
.links {
  background-color: #444;
  color: #fff;
  grid-area: links;
  font-size: 10pt;
}
.box2 {
  background-color: #444;
  color: #fff;
  text-align: left;
  border-radius: 5px;
  font-size: 100%;
}
li#m{
  background-color: rgb(230, 90, 90);
  
}
li#v{
  background-color: rgba(69, 197, 80, 0.959);
}
li#d{
  background-color: rgba(240, 252, 80, 0.486);
}
.footer {
  grid-area: footer;
}
.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 50px;
  font-size: 100%;
}
.header,
.footer {
  background-color: #999;
}